<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title><% title %></title>
</head>
<body class="body-gestion">
    <main>
        <h1>Gestión de Productos</h1>
        <div class="panel">
          <form action="" method="post" class="formulario">
            <form-group class="grupo">
              <input type="button" value="Agregar producto">
              <input type="button" value="Proveedores">
              <input type="button" value="Marcas">
            </form-group>


          </form>
          
        </div>
  
        <!-- Tabla de productos -->
        <table id="productTable">
          <thead>
            <tr>
              <th>Producto</th>
              <th>Marca</th>
              <th>Proveedor</th>
              <th>Precio</th>
              <th>Acciones</th>
            </tr>
          </thead>
          
        </table>
        
    </main>
    <script src="/scripts/admin.js"></script>
</body>
</html>