<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/admin.css">
  <title>
    <% title %>
  </title>
</head>

<body class="body-gestion">
  <main>
    <h1><% title %></h1>
    <div class="panel">
      <form action="" method="post" class="formulario">
       
          <div class="grupo1">
            <div class="prov">
              <label for="providerFilter">Filtrar por Proveedor:</label>
              <select id="providerFilter" name="providerFilter">
                <option value="">provedores</option>
                <option value="proveedor1">Proveedor 1</option>
                  <option name="providerId" value="">
                   
                  </option>
                  

              </select>

            </div>
            <div class="bran">
              <label for="brandFilter">Filtrar por Marca:</label>
              <select id="brandFilter" name="brandFilter">
                <option value="">Todas las Marcas</option>
                <option value="marca1">Marca 1</option>
                <option value="marca2">Marca 2</option>

              </select>
            </div>




            <input type="button" value="Filtrar">
        

    </div>



    <input type="button" value="Agregar">
    </form>
    </div>

    <!-- Tabla de productos -->
    <table id="productTable" class="tabla">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Marca</th>
          <th>Proveedor</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>


      </tbody>
    </table>

  </main>

</body>

</html>