<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <title><% title %></title>
</head>
<body class="body-login">
    <main>

       <div class="container">
        <form action="/views/admin.ejs" method="post" class="formulario">
            <label for="email">usuario</label>
            <input type="email" name="mail" id="" class="campo">
            <label for="password">contraseña</label>
            <input type="password" name="password" id="" class="campo">
        
            <button type="submit">ingresar</button>
        </form>
       </div>

    </main>
    
</body>
</html>