.body-gestion {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gothic A1', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 750px;
    background-image: url('/images/fondo-login.jpg');
    background-color: rgba(255, 255, 255, 0.444);
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px) saturate(145%);
}

.container {
    border: solid black 1px;
    background-color: rgba(0, 0, 0, 0.493);
    height: auto;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 30px;
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font-size: 24px;
}
.grupo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 1px white solid ;
    background-color: rgba(255, 255, 255, 0.243);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    width: 750px;
    height: 120px;
}

.campo {
    display: block;
    margin: 10px;
    padding: 8px;
    height: 35px;
    width: 250px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

select {
    height: 35px;
    width: 250px;
    border-radius: 5px;
    font-size: 16px;
}

input {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
    width: 140px;
    height: 70px;
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

input:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

th, td {
    border: 1px solid white;
    padding: 8px;
    text-align: center;
    color: white;
}

thead {
    background-color: #343a40;
}

tbody {
    background-color: #495057;
}

label {
    display: flex;
    align-items: center;
    color: white;
    font-size: 16px;
    margin-top: 15px;
}

input[type="checkbox"] {
    margin-right: 5px;
}